.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Image_Div{
  width:200px;
  height: 200px
}

.Button_card_Div{
  position:block ;

}

.Card_Size{
  width:200px;
  height:200px
}

.CardContent_app{
  display: flex;
  min-width: fit-content;
  min-height: 100px;
}

.Image_Size{
  height: 100%;
  width: 100%;
}

.Video_Player_image{
  cursor:pointer;
  height:200px
}